body {
  background-image: url("../estilo/imagens/bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(240, 248, 255, 100);
  background-size: 100% 100%;
}

#sitestart {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.159);
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: kinkie;
    color: white;
  }
}

#divine {
  position: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 0px solid black;
}

#text {
  overflow: visible;
  h1 {
    text-align: center;
    font-family: jojoba;
    color: #473051;
  }
  h2 {
    text-align: center;
    font-family: jojoba;
    color: #ffffff;
  }
  h4 {
    color: #b827fc;
    margin-left: 10px;
    text-shadow: #b827fc;
  }
  p {
    margin-left: 10px;
    font-family: jojoba;
    color: white;
  }

  img {
    margin-left: 20px;
    margin-top: 20px;
  }

  background-color: #0d0d0d;
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  height: fit-content;
  margin: 90px auto;
  width: 900px;
  button {
    margin-bottom: 20px auto;
    align-self: center;
    border: 2px solid transparent;
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #b8fd33 50%,
      #fec837 75%,
      #fd1892 100%
    );
    border-image-slice: 1;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    font-family: kinkie;
  }
  img {
    width: 30%;
    height: auto;
  }
  img.bolancha {
    height: auto;
    width: 40%;
  }
  img.cinema {
    height: auto;
    width: 50%;
  }
}

/*fontes*/

@font-face {
  font-family: kinkie;
  src: url(https://dl.dropbox.com/s/b2jkn3py4agc9nn/kinkie.regular.ttf);
}

@font-face {
  src: url(https://dl.dropbox.com/s/uougf9v63jmphoj/Jojoba.otf);
  font-family: jojoba;
}
